{% extends "base.html" %}
{% block content %}
    <div class="container-fluid CL-container">
    <h1 class="page-title">Api Home page</h1> 
    <p class="CL-heading">Here we will show all the information about our api and links to all pages related</p>
    <ul>
        {% for href, caption in [('newsapi/changes', 'Change log'), ('newsapi/documentation', 'Documentation'), ('newsapi/test', 'Test Data'), ('newsapi/gui', 'Api gui example')] %}
        <li><a class="CL-body" href="{{ href }}">{{ caption }}</a></li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
