<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Team Turtle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

</head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="homepage">
                        Homepage
                    </a>
                </li>
                <li class="">
                    <h2> Contents </h2>
                </li>
                <li>
                <h3>Our API</h3>
                {% for caption, id, page in [('Change log', '1','changes'), ('Documentation', '2','features'), ('Test Data', '3','test')] %}
                    <li>
                        <a href="{{ page }}" onclick="myFunc()" id="{{ id }}">{{ caption }}</a>
                    </li>
                {% endfor %}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
                <div>&nbsp</div>
                <!-- <h1 class="mt-5">Team Turtle: News API home page</h1>

                 content to be updated should go here
                <h2 class="mt-5" id="title"></h1>
                    <p id="page"></p> -->
                {% block content %}{% endblock %}
            </div>

        </div>
        <!-- /#page-content-wrapper -->
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Created by: Dominic McDonald, Jack Vincent,
                                    Jeremy Hamann, Rohan Bhat, Troy Murray</span>
            </div>
        </footer>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!-- on click function for sidebar -->
    <script>
    function checkMenu() {
        // not implemented yet, but want to make it so that the menu stays toggled
    }
    </script>

</body>
</html>
