{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() { //should probly get better data ltr with rohan DESIGN the case around the negative article on 04-27
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Trends Change', 'Stocks Change'],
          {% for dict in changes %}
                ['{{dict['shortDate']}}',{{dict['trends']}},{{dict['stock']}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Company Performance',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart'));

        chart.draw(data, options);
      }
    </script>
    <div class="container-fluid CL-container"">
        <table class="dbTable">
            <tr>
                <td colspan="4">
                    <div class="page-title">{{company['name']}}</div>
                </td>
                
            </tr>
            <tr>
                <td colspan="1">
                    <div class="CL-heading2" style="line-height: 1.5;">Trends<br><img src="{{company['trends']}}" title="{{company['trendst']}}"></div>
                </td>
                <td colspan="1">
                    <div class="CL-heading2" style="line-height: 1.5;">Sentiment<br><img src="{{company['sent']}}" title="{{company['sentt']}}"></div>
                </td>
                <td colspan="1">
                    <div class="CL-heading2" style="line-height: 1.5;">Stock<br><img src="{{company['stocks']}}" title="{{company['stockst']}}"></div>
                </td>
                <td rowspan="2" style="width:300px;" colspan="1">
                    <ul style="list-style: circle;">
                        {% for article in articles %}
                        <li class="dbl CL-body" style="line-height: 1.2;"> <a style="color:{{article['sentc']}}">{{article['sent']}}</a> <a href="{{article['url']}}" style="float: right;"> {{article['date']}}</a><br> <a style="font-size:16px;">{{article['headline']}}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div id="chart" style="width: 1200px; height: 800px"></div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
