{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line', 'corechart']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var button = document.getElementById('change-chart');
      var chartDiv = document.getElementById('chart_div');

      var data = google.visualization.arrayToDataTable([
          ['Date', 'Trends Change', 'Stocks Change'],
          {% for dict in changes %}
                ['{{dict['shortDate']}}',{{dict['trends']}},{{dict['stock']}}],
          {% endfor %}
        ]);
      var materialOptions = {
        chart: {
          //title: 'Trends Change vs Stock Price Change',
          legend: { position: 'top', alignment: 'start' }
        },
        width: 1100,
        height: 700,
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {targetAxisIndex: 0},
          1: {targetAxisIndex: 1}
        },
        vAxes: {
          // Adds labels to each axis; they don't have to match the axis names.
          0: {      title: 'Trends Change',
                    viewWindowMode: 'pretty',
                    textStyle: {color: 'red'},
                    viewWindow: { max: 100, min: -100},
                    gridlines: {color: '#f44336'}
             },
        1: {    title: 'Stocks Change',
                viewWindowMode: 'pretty',
                viewWindow: { max: 100, min: -100},
                gridlines: {color: '#000000'}
          }
        }
        
      };

      var classicOptions = {
        //title: 'Trends Change vs Stock Price Change',
        legend: { position: 'top', alignment: 'start' },
        width: 1100,
        height: 550,
        // Gives each series an axis that matches the vAxes number below.
        series: {
          0: {targetAxisIndex: 0, lineWidth: 5},
          1: {targetAxisIndex: 1, lineWidth: 5}
        },
        vAxes: {
          // Adds titles to each axis.
          0: {      title: 'Trends Change',
                    viewWindowMode: 'pretty',
                    textStyle: {color: '#f44336',
                                bold:true,
                                italic:false,
                                fontSize: 18},
                    viewWindow: { max: 50, min: -50}
                    
             },
          1: {      title: 'Stocks Change',
                    viewWindowMode: 'pretty',
                    textStyle: {color: 'black',
                                bold:true,
                                italic:false,
                                fontSize: 18},
                    viewWindow: { max: 5, min: -5}
                    
          }
        },
        colors: ["#f44336","#000000"],
        hAxis: {
            title: 'Date'
        }
      };

      function drawMaterialChart() {
        var materialChart = new google.charts.Line(chartDiv);
        materialChart.draw(data, materialOptions);
        button.innerText = 'Change to Classic';
        button.onclick = drawClassicChart;
      }

      function drawClassicChart() {
        var classicChart = new google.visualization.LineChart(chartDiv);
        classicChart.draw(data, classicOptions);
        button.innerText = 'Change to Material';
        button.onclick = drawMaterialChart;
      }

      //drawMaterialChart();
      drawClassicChart();
    }
    </script>
    <div class="container-fluid CL-container"">
        <table class="dbTable">
            <tr>
                <td colspan="4">
                    <div class="page-title" style="text-align:center;margin-top:30px;">{{company['name']}}</div>
                </td>
                
            </tr>
            <tr>
                <td colspan="1">
                    <div class="CL-heading2" style="line-height: 1.5;">Trends:<br><img class="smallC" src="{{company['trends']}}" title="{{company['trendst']}}"></div>
                </td>
                <td colspan="1">
                    <div class="CL-heading2" style="line-height: 1.5;">Sentiment:<br><img class="smallC" src="{{company['sent']}}" title="{{company['sentt']}}"></div>
                </td>
                <td colspan="1">
                    <div class="CL-heading2" style="line-height: 1.5;">Stock:<br><img class="smallC" src="{{company['stocks']}}" title="{{company['stockst']}}"></div>
                </td>
                <td rowspan="2" style="width:300px;" colspan="1">
                    <ul style="list-style: circle;height:73vh;overflow-y:auto;padding-right:20px;">
                        {% for article in articles %}
                        <li class="dbl CL-body" style="line-height: 1.2;"> <a style="color:{{article['sentc']}}">{{article['sent']}}</a> <a href="{{article['url']}}" style="float: right;"> {{article['date']}}</a><br> <a style="font-size:16px;">{{article['headline']}}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr style="padding-top:20px;">
                <td colspan="3">
                      <div id="chart_div" style="position:relative;"></div>
                    
                </td>
            </tr>
        </table>
    </div>
    <!-- function drawChart() { //should probly get better data ltr with rohan DESIGN the case around the negative article on 04-27
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Trends Change', 'Stocks Change'],
          {% for dict in changes %}
                ['{{dict['shortDate']}}',{{dict['trends']}},{{dict['stock']}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Company Performance',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart'));

        chart.draw(data, options);
      }-->
{% endblock %}
