{% extends "base.html" %}
{% block content %}
<div class="container-fluid CL-container">
    <div class="page-title">Documentation</div>
        <div class="CL-body">
            <div class="CL-heading">Endpoint URL</div>
            <ul>
                <li>http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?</li>
                <li>Change first version number to access older versions of our api</li>
            </ul>
            <div class="CL-heading">Parameters</div>
            <div class="CL-body">
                Example blank url: http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?startDate=BLANK&endDate=BLANK&companyId=BLANK&topic=BLANK
                <div>Replace each BLANK with an accepted value for the parameter.</div>
                <table class="inTable">
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Type</td>
                        <td>Accepted values</td>
                    </tr>
                    <tr>
                        <td>startDate</td>
                        <td>The start of the time period for which you would like to search through</td>
                        <td>String</td>
                        <td>A single date in the format: yyyy-MM-ddThh:mm:ss.SSSZ. This field must be completely filled out (the T and Z should remain as T and Z respectively).</td>
                    </tr>
                    <tr>
                        <td>endDate</td>
                        <td>The end of the time period for which you would like to search through</td>
                        <td>String</td>
                        <td>A single date in the format: yyyy-MM-ddThh:mm:ss.SSSZ. This field must be completely filled out (the T and Z should remain as T and Z respectively).</td>

                    </tr>
                    <tr>
                        <td>companyID</td>
                        <td>Company/ies of which you would like to search for related news. </td>
                        <td>String</td>
                        <td>Either enter the full name of a company or its code followed by the relevant exchange*. Replace all spaces with '-' and seperate multiple companies with '_'. This field can be left blank. If you do not fully spell a companies name, we will guess a company that contains the same text.</td>

                    </tr>
                    <tr>
                        <td>topic</td>
                        <td>Topics of which you would like to search for related news. Can also enclose phrases in quotation marks to add articles that include that phrase</td>
                        <td>String</td>
                        <td>Topic names or phrases. Replace all spaces with '-' and seperate multiple topics with '_'. Contain any phrases in quotation marks to make sure the phrase is in the article. This field can be left blank.</td>

                    </tr>
                </table>
                <div style="display:block">* Currently accepted exchanges are:
                    <ul style="list-style: none;">
                        <li> Australian Stock Exchange 'AX'</li>
                        <li> Euro Next Stock Exchange 'EUX'</li>
                        <li> London Stock Exchange 'LSE'</li>
                        <li> New York Stock Exchange 'NYSE'</li>
                        <li> Shangehai Stock Exchange 'SSX'</li>
                        </ul>
                    </div>
                <div style="display:block">Example valid URL: http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?startDate=2015-08-24T09:45:31.235Z&endDate=2017-09-24T09:45:31.235Z&companyId=CBA.AX&topic=apple-pay</div>
            </div>
            <div class="CL-heading">Example successful response</div>

                    Searching for articles about the new apple pay system so we decide to include apple-pay in the topic and a local bank, lets say Commonwealth Bank(CBA).
                    <pre><code>
url = "http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?startDate=2015-08-24T09:45:31.235Z&endDate=2017-09-24T09:45:31.235Z&companyId=CBA.AX&topic=apple-pay"


result:
{
    
    "Developer Notes": {
        "Developer Team": "Team Turtle", 
        "Module Name": "News API", 
        "API Version": "v2.0", 
        "Parameters passed": "{'startDate': '2015-08-24T09:45:31.235Z', 'endDate': '2017-09-24T09:45:31.235Z', 'companyId': 'CBA.AX', 'topic': 'apple-pay'}", 
        "Execution Result": ["Successful", "2018-04-20T10:40:07.288Z", "2018-04-20T10:40:08.999Z", "T0:00:01.711Z"]},
    "NewsDataSet": [{
        "URL": "https://www.theguardian.com/australia-news/2017/aug/08/commonwealth-bank-axes-executive-bonuses-over-money-laundering-scandal", 
        "InstrumentIDs": ["CBA.AX"], 
        "CompanyNames": ["COMMONWEALTH BANK OF AUSTRALIA."], 
        "TimeStamp": "2017-08-08T02:17:51Z", 
        "Headline": "Commonwealth Bank axes executive bonuses over money-laundering scandal", 
        "NewsText": "The Commonwealth Bank has axed senior executive bonuses in response to a scandal around money laundering and a lawsuit by Australia..."}]
}


This is the only first article that is returned.
(majority of the article, stored in NewsText, was left out for the sake keeping this short)
                    </code></pre>

                <div class="CL-heading">Output Semantics</div>
                <table class="inTable">
                    <tr>
                        <td>Field</td><td>Description</td><td>Type</td>
                    </tr>
                    <tr>
                        <td>Developer Notes</td><td>Contains Developer Team, Module Name, API Version, Parameters Passed and Execution Result. Each field is written below. </td><td>Record</td>
                    </tr>
                    <tr>
                        <td>Developer Team</td><td>Our team name.</td><td>String</td>
                    </tr>
                    <tr>
                        <td>Module Name</td><td> The module name for our API and currently used version.</td><td>String</td>
                    </tr>
                    <tr>
                        <td>Parameters Passed</td><td> A list of all the parameters passed to our API. See Parameters near the top to know about each parameter</td><td>Record</td>
                    </tr>
                    <tr>
                        <td>Execution Result</td><td> Whether the API call was successful or not. If success, includes executation start and end times and elapsed time. If not includes the error that occured.</td><td>List of Strings</td>
                    </tr>
                    <tr>
                        <td>NewsDataSet</td><td>contains URL, InstrumentIDs, CompanyNames, TimeStamp, Headline and NewsText. Each field is written below</td><td>Record</td>
                    </tr>
                    <tr>
                        <td>URL</td><td>Contains a url for the original article</td><td>String</td>
                    </tr>
                    <tr>
                        <td>InstrumentIDs</td><td> InstrumentID of the companie/s for the matched article.</td><td>List of Strings</td>
                    </tr>
                    <tr>
                        <td>CompanyNames</td><td> Name/s of the company/ies for the matched article.</td><td>List of Strings</td>
                    </tr>
                    <tr>
                        <td>TimeStamp</td><td> The date that the matched article was published.</td><td>String</td>
                    </tr>
                    <tr>
                        <td>Headline</td><td>Headline of the matched article.</td><td>String</td>
                    </tr>
                    <tr>
                        <td>NewsText</td><td>Content of the matched news articles.</td><td>String</td>
                    </tr>
                </table>
                <div class="CL-heading">Other examples</div>
                This example contains no parameters and should return an error
                <pre><code>
url = "http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?"

result:
{
    "Developer Team": "Team Turtle",
    "Module Name": "News API",
    "API Version": "v2.0",
    "Parameters passed": "{'startDate': None, 'endDate': None, 'companyId': None, 'topic': None}",
    "Execution Result": ["Error", "startDate is empty"]}
                </code></pre>
                We want to know everything that happened on a specific day, so we just include the date and nothing else. Be careful because broad requests will take a very long time.
                <pre><code>
url = "http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?startDate=2015-08-24T09:45:31.235Z&endDate=2015-08-25T09:50:21.222Z"

result:
{
    "Developer Notes": {
        "Developer Team": "Team Turtle", 
        "Module Name": "News API", 
        "API Version": "v2.0", 
        "Parameters passed": "{'startDate': '2015-08-24T09:45:31.235Z', 'endDate': '2015-08-25T09:50:21.222Z', 'companyId': None, 'topic': None}", 
        "Execution Result": ["Successful", "2018-04-20T10:41:05.224Z", "2018-04-20T10:41:13.553Z", "T0:00:08.329Z"]},
    "NewsDataSet": [{
        "URL": "https://www.theguardian.com/sport/live/2015/aug/24/county-cricket-live-blog-sussex-yorkshire-somerset-worcestershire", 
        "InstrumentIDs": [], 
        "CompanyNames": [], 
        "TimeStamp": "2015-08-24T13:23:34Z", 
        "Headline": "County cricket \u2013 as it didn't happen", 
        "NewsText": "Somerset captain Marcus Trescothick was in a resigned mood after the match against Worcestershire was abandoned as a draw without a ball bowled on the final day. He said: \u201cGaining points..."}]
    }

                </code></pre>
    <div class="CL-heading">Examples for Calling the API</div>
                Python example API call.
                    <pre><code>

import requests


url = "http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?"
startDate = "2017-08-24T09:45:31.233Z"
endDate = "2017-09-24T09:45:31.233Z"
companyID = "ANZ_Woolworths"
topic = "projected-profit_share-price-prediction"

response = requests.get(url+"startDate="+startDate+"&endDate="+endDate+"&companyId="+companyID+"&topic="+topic)
                    </code></pre>
                JavaScript/jQuery example API call.
                    <pre><code>
url = "http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?"
startDate = "2017-08-24T09:45:31.233Z"
endDate = "2017-09-24T09:45:31.233Z"
companyID = "ANZ_Woolworths"
topic = "projected-profit_share-price-prediction"

$.getJSON(url+"startDate="+startDate+"&endDate="+endDate+"&companyId="+companyID+"&topic="+topic, myFunction(Data));
                    </code></pre>

                    curl example API call.
                        <pre><code>
curl "http://seng3011-turtle.ap-southeast-2.elasticbeanstalk.com/newsapi/v2.0/query?startDate=2017-09-20T09:45:31.235Z&endDate=2017-09-24T09:45:31.235Z&companyId=ANZ_Woolworths&topic=iphone"
                        </code></pre>


</div>
</div>
    <!-- this page will contain a list of all our implemented features, instructions on how to use each feature and examples of each feature (using python) -->

    <!-- might be ideal to store both changes and features in text files then use python to fill a list of records to push into here, but for now hardcoding a few should be fine-->
{% endblock %}
