{% extends "gui.html" %}
{% block interface %}
    <!-- this is the only part not finished yet ( and a description but thats just text)-->
    <!-- check the parameters passed, url includes the url and a note as to what happened, re includes the returned json (converted from json tho)-->
    <div class="container-fluid int-container">
    <div class="CL-body">
    <table>
        <tr><td><div style="height:300px;"><div class="horizontal-scroll-wrapper squares">
        <div>
            Notes: {{note}}<br>
            Execution: {% if 'Developer Notes' in re %}
                {{re['Developer Notes']['Execution Result'][0]}} 
                {% if re['Developer Notes']['Execution Result'][0] == 'Error' %},
                     {{re['Developer Notes']['Execution Result'][1]}} 
                {% endif %}
            {% endif %}
        </div>
        {% for field in fav %}
            <div>{{field['Headline']}}<br>
            <a href="{{field['URL']}}"> Go to original article</a>
            <form action="/newsapi/gui/remF" method = "GET|POST" >
            <input type="radio" style="display:none;" name="article" value="{{field['URL']}}" checked>
            <input type="submit" value="Remove Fav" class="btn btn-secondary remove">
            </form>
            </div>
        
        {% endfor %}
        </div>
        </td></tr>
        <tr style="height:40px;width:100%;margin-bottom:30px;margin-top:10px;font-size:20px;border-width:1px 0px;border-style:dashed;"><td>Requested Url: {{url}}</td></tr>
        <tr><td><div style="height:300px;">
            <div class="horizontal-scroll-wrapper squares">
            {% for field in re['NewsDataSet'] %}
                <div>{{field['Headline']}}<br>
                <a href="{{field['URL']}}"> Go to original article</a>
                <form action="/newsapi/gui/addF" method = "GET|POST" >
                <input type="radio" style="display:none;" name="article" value="{{field['URL']}}" checked>
                <input type="submit" value="Add Fav" class="btn btn-secondary remove">
                </form>
                </div>
                
            {% endfor %}
            </div></div>
        </td></tr>
    </table>
    </div>
    </div>
{% endblock %}
