{% extends "base.html" %}
{% block content %}
    <div class="container-fluid CL-container">
        <div class="page-title">{{user}}
           <form action="/profile" method ="GET|POST"><input type="submit" value="Refresh All" name="refreshALL" class="btn btn-secondary refresh"></form>
           <form action="/profile" method ="GET|POST"><input type="submit" value="Test Email" name="testEmail" class="btn btn-secondary refresh"></form>
        </div>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <div class="CL-heading"> </div>
        <form action="/profile" method ="GET|POST">
            <table style="width:100%">
                <tr>
                    <td style="width:250px"><p style="font-size:25px;">Add Company</p></td>
                    <td style="width:330px"><input class="enterWord" type="text" name="added" placeholder="Company ID or Name" required></td>

                    <td style="height:30px">
                        <label for="sel1">Email Frequency:</label>
                            <select style="height:30px" name="time">
                              {% if settings['followTime'] == 'Daily' %}
                                <option selected="selected">Daily</option>
                              {% else %}
                                <option>Daily</option>
                              {% endif %}
                              {% if settings['followTime'] == 'Weekly' %}
                                <option selected="selected">Weekly</option>
                              {% else %}
                                <option>Weekly</option>
                              {% endif %}
                              {% if settings['followTime'] == 'Monthly' %}
                                <option selected="selected">Monthly</option>
                              {% else %}
                                <option>Monthly</option>
                              {% endif %}
                            </select>
                    </td>
                    <td style="height:30px">
                        <label for="sel1">Recieve email on significant event:</label>
                            <select style="height:30px" name="eventPref">
                              {% if settings['emailEventPref'] == 'Yes' %}
                                <option selected="selected">Yes</option>
                                <option>No</option>
                              {% else %}
                                <option>Yes</option>
                                <option selected="selected">No</option>
                              {% endif %}
                            </select>
                    </td>

                    <td><input type="submit" value="Add" class="btn btn-secondary add"></form></td></tr>
            </table>
        <table class="profileC">
            <tr>
                <td>Company name</td>
                <td>Change in Google activity</td>
                <td>Recent Sentiment</td>
                <td>Change in stock price</td>
                <td></td>
            </tr>
            {% for company in companies %}
                <tr>
                    <td><form action="/db" method = "GET|POST" >
                    <input type="radio" style="display:none;" name="company" value="{{company['name']}}" checked>
                    <input type="submit" value="{{company['name']}}" class="btn btn-secondary remove">
                    </form>
                    </td>
                    <td style="color:{{company['changec']}}"> {{company['change']}}</td>
                    <td style="color:{{company['recSc']}}"> {{company['recS']}}</td>
                    <td style="color:{{company['stockc']}}"> {{company['stock']}}%</td>
                    <td>
                    <form action="/profile" method = "GET|POST" >
                    <input type="radio" style="display:none;" name="removed" value="{{company['name']}}" checked>
                    <input type="submit" value="X" class="btn btn-secondary remove">
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
    function dropList() {
        //for later if we change search bar to include droplist
    }
    </script>

{% endblock %}
